nav.nav-container {
  position: relative;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
      position: relative;
      background: red;
    }
    ul {
      z-index: 100;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.5s,
                  opacity 0.5s linear;
    }
  }
  a {
    text-align: center;
    line-height:50px;
    text-decoration: none;
    color: black;
    display: block;
    flex:1;
    transition: color .6s,background-color 1s;
  }
}
.description {
  color: white;
  background: #000;
}
