.step-one,
.title {
  flex: 0 0 100%;
  h3 {
    padding: 10px 0 10px 20px;
  }
}
.demo {
  flex: 0 0 100%;
}
pre {
  margin: 0;
  overflow: auto;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.highlight {
  flex-basis: 300px;
  flex-shrink:0;
}
.description p {
  padding-bottom: 1em;
}
section.wrapper {
  flex-wrap: wrap;
  background: #000;
}
section.description {
  flex: 0 0 100%;
}
@media (max-width: 900px) {
  .half-width {
    flex: 0 0 100%;
  }
}
h1,h2,h3,h4,h5,h6,p {font-family: 'Roboto', sans-serif;}
